# Python Use cases

![image](https://techcrunch.com/wp-content/uploads/2019/04/blackhole.jpg?w=1390&crop=1)
![image](https://techcrunch.com/wp-content/uploads/2019/04/Screen-Shot-2019-04-11-at-11.11.37-AM.png?resize=680,487)
![title](https://imgs.xkcd.com/comics/python.png)

### Anaconda & Jupyter Notebook

Donwload at https://www.anaconda.com/distribution/#download-section

### Commenting, Indentation & Operators

In [ ]:
# You can make comments in python script using '#' (hash) sign
'''
Multiline comment
asd
asd
ads
'''

In [ ]:
#Indentation and case sensitivity are essential for Python
variable=1
Variable=2
variable==Variable
# = is for assigning value, == is for checking equality

In [ ]:
variable=1
 Variable=2
variable==Variable

In [ ]:
    variable=1
    Variable=2
    variable==Variable

In [ ]:
print("3<5",3<5)
print("3>5",3>5)
print("3==3",3==3) #equal to
print("3!=3",3!=3) #not equal to
print("3>=2",3>=2)
print("3<=3",3<=3)

In [ ]:
(
1+1, 
1-1,
5*2,
5/2,
5%2, #Modulo
5**2, #Exponent
(2+2)*5 #Enforce precedence
)

In [ ]:
(
    True or True,
    True or False,
    False or False,
    True and False
)

In [173]:
(
    True | True,
    True | False,
    False | False,
    True & False
)

(True, True, False, False)

#### Python Variable Types

In [ ]:
#python has 4 variable types:
intVar=int()
intVar=1
floatVar=float()
floatVar=1.01
stringVar=str()
stringVar='1.01'
stringVar="1.01"
stringVar='''1.01'''
booleanVar=bool()
booleanVar=True
booleanVar=False
#You do NOT have to indicate the type of your variables beforehand
undeclaredVariable=1

#### String formatting

In [155]:
var1 = 15
var2 = 3
string1 = 'number 1: {0} \nnumber 2: {1}\n'.format(var1,var2)
string2 = f'number 1: {var1} \nnumber 2: {var2}\n'
string3 = f'number 1: %s \nnumber 2: %s\n' %(var1,var2)

In [ ]:
print(string1)
print(string2)
print(string3)

#### Conditionals if, elif, else

In [ ]:
a=1
if a<5:
    print('Less than 5')
elif 5<=a<8:
    print('Between 5 and 8')
elif a>=8 and a < 10:
    print('Between 8 and 10')
else:
    print('More than 10')

#### Truthy & Falsy

In [170]:
bool(0),bool(1),bool(-1),bool([''])

(False, True, True, False)

In [167]:
bool(0),bool([]),bool(''),bool(()),bool({}),bool(None)

(False, False, False, False, False, False)

In [187]:
0 and 10

0

In [184]:
True and 0

0

In [182]:
False or 1

1

In [171]:
if []:
    print(True)
else:
    print(False)

False

In [172]:
if not []:
    print(True)

True

#### Fundamental Data Structures

In [ ]:
#Python has 3 major datatypes, all types can hold EVERY type of object
#Lists
aList=['item1','item2','item3',4,5,6,7.0,[0,1,2]]
aList[0]
#Indexing starts from 0
for item in aList:
    print(item)

In [ ]:
aList.append(['1','2'])

In [ ]:
aList

In [ ]:
aList.pop(0)

In [ ]:
aList

In [ ]:
#Tuples
aTuple=('item1','item2','item3',4,5,6,7.0,[0,1,2],(0,1,2))
aTuple[0]
for item in aTuple:
    print(item)

In [ ]:
#What's the difference? You can change the items in lists but not in tuples
aList[0] = 'NewItem1'
aList

In [ ]:
aList.append('NewItem!')

In [ ]:
aList

In [ ]:
aList.pop(1)

In [ ]:
aList

In [ ]:
List1 = ['a','b','c']
List2 = ['d','e','f']
list3 = List1+List2

In [ ]:
print(list3)

In [198]:
fullList = [1,2,3,4,5,6,7,8]
smallList = [number for number in fullList if number%2==0]
squaredList = [number**2 for number in fullList]

In [199]:
smallList

[2, 4, 6, 8]

In [200]:
squaredList

[1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
aTuple[0]='NewItem1'

In [ ]:
#Dictionaries
aDict={
        'key1':'value1',
        'key2':'value2',
        'key3':1.01,
        1.1:2,
        1:'value5',
        'key6':[1,2,3],
        'key7':(1,2,3),
        'key8':{
                'key1':'value1'
                }
    }
aDict['key1']
for key,value in aDict.items():
    print(key,':',value)
aDict['key1'] = 1

In [ ]:
aDict['key1']

#### For & While Loops

In [ ]:
for item in List1:
    item=item+'1'
    print(item)

In [ ]:
Iterable=[1,2,3,4,5,6,7]
cumSum=0
for element in Iterable:
    #cumSum=cumSum+element
    cumSum+=element
cumSum

In [ ]:
myConditionalVariable=0    
while myConditionalVariable<20:
    print('Not over yet!')
    myConditionalVariable+=5

In [ ]:
i=1
while i<15:
    print(i)
    i+=1

In [ ]:
while 1:#Or while True
    print('Infinite looooop')

In [ ]:
while 0:#Or while false
    print('Never have seen a sun light')

####  Break out of loop

In [ ]:
i=1
while True:
    print(i)
    i+=1
    if i==15:
        break

In [158]:
for i in range(10):
    print(i)
    if i>5:
        break

0
1
2
3
4
5
6

In [161]:
i = 0
while True:
    print(i)
    i+=1
    if i>5:
        break

0
1
2
3
4
5

#### Continue the loop

In [ ]:
for i in range(10):
    if i < 5:
        continue
    else:
        print(i)

#### For loop + String formatting = Automation

In [205]:
for index,month in enumerate(range(1,12)):
    query = f'''
        create table myTable_{index+1} as
        select *
        from db.table
        where month between {month} and {month+1}
    '''
    print(query)

        create table myTable_1 as
        select *
        from db.table
        where month between 1 and 2


        create table myTable_2 as
        select *
        from db.table
        where month between 2 and 3


        create table myTable_3 as
        select *
        from db.table
        where month between 3 and 4


        create table myTable_4 as
        select *
        from db.table
        where month between 4 and 5


        create table myTable_5 as
        select *
        from db.table
        where month between 5 and 6


        create table myTable_6 as
        select *
        from db.table
        where month between 6 and 7


        create table myTable_7 as
        select *
        from db.table
        where month between 7 and 8


        create table myTable_8 as
        select *
        from db.table
        where month between 8 and 9


        create table myTable_9 as
        select *
        from db.table
        where month between 9 and 10


        create table myTable_10 as
        select *
        from db.table
        where month between 10 and 11


        create table myTable_11 as
        select *
        from db.table
        where month between 11 and 12

#### User Defined Functions

In [ ]:
#Built-ins (some of them)

#Math
min()
max()
sum()
abs()
round()

#Logical
all()
any()

#Type coercion
set()
dict()
bool()
int()
str()
float()
tuple()
chr()
list()

#Iterable functions
sorted()
reversed()
enumerate()
len()
zip()
filter()

range()
map()

#General
print()
type()
dir()
isinstance()

In [5]:
List1 = [4,5,1,2,12,14,23]
List1 = [1,2,3,4,5,6,7]
aLogicalList = [True,False,True]

In [15]:
List1

[4, 5, 1, 2, 12, 14, 23]

In [8]:
List2

[4, 5, 1, 2, 12, 14, 23]

In [ ]:
def MySimpleFunction(var):
    print('This is a function')
    print('This is its argument ',var)
    print('I\'ll multiply this var with 2 if it is an integer')
    if isinstance(var,(int,float)):
        print(2*var)
    else:
        print('This is not an integer!')

In [ ]:
def MyPythonFunction(var,*args,**kwargs):
    print(var)
    #args is a list
    for arg in args:
        print(arg)
    #kwargs is a dictionary
    for key,value in kwargs.items():
        print(key,value)

In [ ]:
MySimpleFunction(5)

In [ ]:
MySimpleFunction(5.0)

In [ ]:
MyPythonFunction(5,[1,2,3],{'a':1,'b':2})

In [143]:
class Person():
    isAlive = True
    def __init__(self,name = 'Ali',surname='Yılmaz',age=20):
        self.name = name
        self.surname = surname
        self.age = age
    def die(self):
        self.isAlive = False
        print('Goodbye cruel world..')
    def revive(self):
        if not self.isAlive:
            self.isAlive = True
        else:
            print(f'{name} is not dead yet!')

class Employee(Person): #Inheritance
    company, profession = None, None
    def __init__(self,name = 'Ali',surname='Yılmaz',age=20,company=None,profession=None):
        super().__init__(name,surname,age)
        if company:
            self.company = company
        if profession:
            self.profession = profession
    def getCompany(self):
        if self.company:
            print(self.company)
        else:
            print(f'{self.name} does not have a job')
    def getProfession(self):
        if self.profession:
            print(self.profession)
        else:
            print(f'{self.name} does not have a profession')
    def setCompany(self,newCompany):
        self.company = newCompany
    def setProfession(self,newProfession):
        self.profession = newProfession
    @classmethod
    def sayHello(self):
        print('Hello all!')

In [111]:
randomPerson = Person()

In [112]:
randomPerson.name, randomPerson.surname, randomPerson.age

('Ali', 'Yılmaz', 20)

In [113]:
kaan = Person('Kaan','Aytekin',25)

In [114]:
kaan.name, kaan.surname, kaan.age

('Kaan', 'Aytekin', 25)

In [115]:
employee = Employee('Bahtsız','Bedevi',25,'Trendyol')

In [116]:
employee.name, employee.surname, employee.age, employee.company, employee.profession

('Bahtsız', 'Bedevi', 25, 'Trendyol', None)

In [117]:
employee.setCompany(None)

In [118]:
employee.company

In [119]:
employee.getCompany()

Bahtsız does not have a job

In [120]:
employee.setProfession('Data Scientist')

In [121]:
employee.profession

'Data Scientist'

In [122]:
employee.getProfession()

Data Scientist

In [123]:
employee.profession = None

In [124]:
employee.getProfession()

Bahtsız does not have a profession

In [136]:
employee.sayHello()

Hello all!

In [137]:
employee.die()

Ahh..

In [138]:
employee.isAlive

False

In [139]:
employee.revive()

In [140]:
employee.isAlive

True

In [141]:
Employee.getProfession()

TypeError: getProfession() missing 1 required positional argument: 'self'

In [142]:
Employee.sayHello()

Hello all!

#### Package Import

In [ ]:
import pandas as pd
import numpy as np
import datetime as dt
import vertica_python
import pyodbc
import sys
sys.path.append('/DS')
import GlobalVariables as var

Documentation is key <br>
https://pandas.pydata.org/pandas-docs/stable/ <br>
https://numpy.org/devdocs/reference/index.html <br>
https://docs.python.org/3/library/

#### Date&Time

In [ ]:
timeNow=dt.datetime.now()

In [ ]:
type(timeNow)

In [ ]:
timeNow

In [ ]:
dt.datetime.now().strftime('%Y-%m-%d %H:%M:%S')

In [ ]:
SeventyFiveMinsAgo=dt.datetime.now()-dt.timedelta(minutes=75)
SeventyFiveMinsAgo.strftime('%Y-%m-%d %H:%M:%S')

In [ ]:
time='15:53:12 2019-04-15'
dt.datetime.strptime(time,'%H:%M:%S %Y-%m-%d')

In [ ]:
dt.datetime.strptime(time,'%H:%M:%S %Y-%m-%d').strftime('%Y-%m-%d %H:%M:%S')

#### SQL Queries

In [ ]:
conn_info_vertica={
 'host': 'tt-pvrt-lback01.trendyol.com',
 'port': 5433,
 'user': 'your.username',
 'password': 'your.password',
 'database': 'vdsm'
}

In [ ]:
sqlserverhost = "t-sqlrep.trendyol.com"
sqlserverport = 1433
sqlserveruser = "your.username"
sqlserverpwd = "your.password"
sqlserverdb = "trendyol"
sqlserverdriver = '/opt/microsoft/msodbcsql/lib64/libmsodbcsql-11.0.so.2270.0'
sqlserverconn = "DRIVER="+sqlserverdriver+";SERVER="+sqlserverhost+";DATABASE="+sqlserverdb+";UID="+sqlserveruser+";PWD="+sqlserverpwd

In [ ]:
verticaConnection = vertica_python.connect(**var.conn_info_vertica)
verticaCursor = verticaConnection.cursor()

In [ ]:
MsConnection=pyodbc.connect(var.sqlserverconn)
MsCursor=MsConnection.cursor()

In [ ]:
desiredDate=(dt.datetime.now()-dt.timedelta(days=1,hours=5,minutes=15)).strftime('%Y-%m-%d %H:%M:%S')

In [ ]:
desiredDate

In [ ]:
query1='''select * 
from clickstream.ordersummary 
where ts>'{}' limit 200 '''.format(desiredDate)

In [ ]:
print(query1)

In [ ]:
VerticaData=pd.read_sql(query1,verticaConnection)

In [ ]:
VerticaData.head()

In [ ]:
query2='''select * from trendyol.dbo.ac_Orders where OrderDate>'{0}' {1} '''.format(desiredDate,)

In [ ]:
query2

In [ ]:
MsData=pd.read_sql(query2,MsConnection)

In [ ]:
MsData.head()

In [ ]:
MsData[['OrderId']].head()

In [ ]:
MsData[['OrderId','OrderNumber']].head(20)

In [ ]:
MsData[(MsData['IsShipmentCreated']==True)&(MsData['BillToFirstName']=='Elif')]

In [ ]:
query3='''
create table ml.PythonCrashCourse as
select channel,count(channel) 
from clickstream.sessionstarted 
where ts>getdate()-1
group by channel
'''
verticaCursor.execute(query3)

In [ ]:
verticaCursor.execute('select * from ml.PythonCrashCourse').fetchall()

In [ ]:
verticaCursor.execute('drop table if exists ml.PythonCrashCourse')

In [160]:
import sys
sys.path.append('/DS')
import GlobalVariablesDS as var

####  Break out of loop

In [158]:
for i in range(10):
    print(i)
    if i>5:
        break

0
1
2
3
4
5
6

In [161]:
i = 0
while True:
    print(i)
    i+=1
    if i>5:
        break

0
1
2
3
4
5

In [188]:
for i in range(10):
    if i < 5:
        continue
    else:
        print(i)

5
6
7
8
9

#### Try - Except - Finally - Else

In [162]:
try:
    verticaCursor.execute('select * from ml.PythonCrashCourse').fetchall()
except Exception as e:
    print('I cant do it becasue',e)
else:
    print('I did it!')
finally:
    print("I'm executed no matter what")

I cant do it becasue name 'verticaCursor' is not defined
I'm executed no matter what

In [ ]:
get_ipython().system('jupyter nbconvert --to script "Python Crash Course.ipynb"')